@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family:
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
  background-color: #f2f3f5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  max-width: 6px;
  max-height: 6px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
  border-radius: 0;
  background: tgba(0, 0, 0, 0.1);
} */

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img,
svg,
canvas,
audio,
iframe,
embed,
object {
  display: unset;
  vertical-align: unset;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* 封装一些 tailwind class*/
@layer components {
  /* 占满容器 */
  .tw-full {
    width: 100%;
    height: 100%;
  }
  /* flex 水平垂直居中 */
  .tw-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* border */
  .tw-border-normal {
    border: 1px solid #e3e5eb;
  }
}
